@charset "UTF-8";
/* CSS Document */
*{
	box-sizing: border-box;
}

@font-face{
	font-family: header;
	src: url("");
}


@font-face{
	font-family: paragraph;
	src: url();
}

h1{
	font-family: header;
	font-size: 60px;
}

body{
	height: 100vh;
	background-image: url("images/foggyRoad.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/*Screen 1 */
.js-intro{
	display: none;
	width: 50%;
	margin: 10% auto 0 auto;
	text-align: center;
}

.nameOfApp{
	display: none;
	text-align: center;
}

/* Screen 2 */
.input-screen{
	display: none;
	width: 50%;
	margin: 5% auto 0 auto;
	text-align: center;
}

form{
	display: flex;
	flex-direction: column;
}

legend{
	font-size: 25px;
}

label{
	margin-top: 5%;	
}

input{
	width: 50%;
	margin: auto;
	text-align: center;
	padding: 5px;
	font-size: 10px;
}

button{
	width: 15%;
	margin: 5% auto 0 auto;
}

button:hover{
	cursor: pointer;
	background-color: #666;
	color: white;
	transition: 0.4s;
}

.input-itenerary{
	display: none;
}


